@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
/* ik heb absoluut geen idee wat ik hier aan het doen ben ¯\_(´・ω・｀)_/¯ */

#top {
    margin-top: 0%;
    width: 100vw;
    position: absolute;
    background-image: url(x.gif);
    background-color: #346579;
}

#centre {
    background-color: #346579;
    background-image: url(y.gif);
    position: relative;
    width: 85vw;
    height: 100vw;
    margin-top: 8vw;
    margin-left: 15vw;
}

#left {
    float: left;
    margin-top: 8vw;
    position: absolute;
    height: 100vw;
    background-color: #346579;
}

.container{
    margin: 0px;
}

.binnen {
    font-family: 'Didact Gothic', sans-serif;
}

p.pleasedontask {
    margin-left: 4px;
    color: #0aad17;
}

h1 {
    margin-left: 45%;
    color: #750000;
    font-size: 56px;
}

a:link, a:visited {
    color: #060494;
    text-decoration: underline;
}

a:link:active, a:visited:active { 
    color: #140494;
}

a:hover {
    color: #666666;
}
