@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
/* ik heb absoluut geen idee wat ik hier aan het doen ben ¯\_(´・ω・｀)_/¯ 

   mujhe rang de~ */

.embed-responsive-item{
    background-color: #220694;
}

#top{
    width: 101vw;
    position: absolute;
    padding-left: 0px;
    background-image: url(x.gif);
    background-repeat: repeat;

}

#centre{
    width: 85.1vw;
    height: 100vh;
    margin-top: 8vw;
    margin-left: 15.85vw;
    position: absolute;
    background-image: url(y.gif);
    background-repeat: repeat;
}

#left{
    height: 100vh;
    margin-top: 8vw;
    padding-left: 0px;
    position: absolute;
}

#binnen{
    font-family: 'Didact Gothic', sans-serif;
}

.alt-grid .row{
    padding: 0px;
}

.alt-grid .container-fluid{
    margin: 0 auto;
    padding: 0px;
}

p.pleasedontask{
    margin-left: 15px;
    color: #01c511;
}

h1{
    margin: 0;
    text-align: center;
    color: #750000;
    font-size: 60px;
}

a:link, a:visited{
    color: #346579;
    text-decoration: underline;
}

a:link:active, a:visited:active{ 
    color: #041494;
}

a:hover{
    color: #666666;
}
